@page
@{
    <script src="~/js/OptionalPower.js"></script>
    <script src="~/js/FixAge.js"></script>
    <script src="~/js/DisplayCurrentDate.js"></script>
    <script src="~/js/IntersysJsNewExercises.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    ViewData["Title"] = "IntersysJsNewExercises";
}

<div>
    <script>
        window.onload = function () {
            //createButton();
            //createButton2();
            //showButton3();
            //button4();
            //testButton();
            exercise1();
            exercise2();
            exercise3();
            exercise4();
            exercise5();
        }
        //document.body.style.backgroundColor = "black";
    </script>
</div>

