@page
@{
    <script src="~/js/OptionalPower.js"></script>
    <script src="~/js/FixAge.js"></script>

    ViewData["Title"] = "OptionalPower";
}

<div>
    <script>
        window.onload = function () {
            createButton();
            createButton2();
        }
    </script>
</div>
